@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;700&display=swap');

:root {
   --body-font: 'Mohave', sans-serif;
   --dark-green: #022c22;
   --mid-dark-green: #134e4a;
   --mid-green: #10b981;
   --mid-light-green: #34d399;
   --light-green: #6ee7b7;
   --white-green: #dcfce7;
   --white-emerald: #d1fae5;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: var(--body-font);
}

body {
    background-color: var(--dark-green);
    display: flex;
}

.projects, .to-do-list {
    height: 100vh;
    max-height: 100%;
    padding: 30px 30px 30px 30px; 
    font-size: 1.3rem;
}

.projects {
    width: 25vw;
    box-shadow: 0px 0px 5px var(--mid-green);
    color: var(--dark-green);
    background-color: var(--white-green);
    display: flex;
    flex-direction: column;
}

.projects .title {
    border-bottom: solid 2px var(--mid-dark-green);
    padding: 10px;
}

.to-do-list .title {
    border-bottom: solid 2px var(--mid-dark-green);
    padding: 10px;
}

.list-box {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.to-do-list {
    width: 70vw;
    color: var(--white-green);
}

.project-list, .list-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
}

.project-item, .list-item {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 10px;
}

.list-item {
    border: 1px solid var(--mid-light-green);
}

.project-item:hover {
    background-color: var(--white-emerald);
    cursor: pointer;
}

.list-item:hover {
    background-color: var(--mid-dark-green);
}

.add-project, .add-item {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 100%;
    color: var(--mid-dark-green);
}

.add-item {
    color: var(--white-green);
}

.checkbox {
    min-height: 15px;
    min-width: 15px;
    border: 2px solid var(--mid-dark-green);
}

.checkbox:hover {
    cursor: pointer;
}

.list-item .checkbox {
    border: 1px solid var(--mid-light-green);
}

svg {
    height: 1.3rem;
    width: auto;
    margin-left: auto;
    fill: var(--mid-green);
}

svg:hover {
    cursor: pointer;
}

.icon-box {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.date-input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--dark-green);
    color: var(--white-green);
    border: none;
    fill: var(--mid-light-green);
}

/* .date-input:hover {
    background-color: var(--mid-dark-green);
    cursor: pointer;
} */

.to-do-input, .date-input:hover {
    color: var(--white-emerald);
    cursor: pointer;
}

.add-project p, .add-item p:hover {
    cursor: pointer;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 45vh;
    width: 40vw;
    transform: translate(-50%, -50%);
    padding: 15px;
    font-size: 2rem;
    background-color: var(--white-emerald);
    border: 3px solid var(--dark-green);
}

dialog::backdrop {
    background: #022c22;
    opacity: .6;
}

dialog h2 {
    color: var(--dark-green);
}

.project-modal, .project-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-name-box, .project-description-box {
    display: flex;
    flex-direction: column;
}

input {
    background-color: var(--white-emerald);
    height: 2.3rem;
    border: none;
    border-bottom: 1px solid var(--dark-green);
    padding: 3px 8px 3px 8px;
    font-family: inherit;
    font-size: 1.5rem;
}

.to-do-input {
    background-color: var(--dark-green);
    height: 2.3rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--dark-green);
    padding: 3px 8px 3px 8px;
    font-family: inherit;
    font-size: 1.3rem;
    color: var(--white-emerald);
}

.to-do-input::placeholder {
    color: var(--white-emerald);
}

input:focus {
    outline: none;
    border-bottom: 1px solid var(--dark-green);
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

button {
    font-family: inherit;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

.submit-button {
    background-color: var(--dark-green);
    border: 3px solid var(--light-green);
    color: var(--white-green);
}

.cancel-button {
    background-color: rgb(160, 14, 14);
    border: 3px solid var(--dark-green);
    color: var(--white-emerald);
}


@media screen and (max-width: 1000px) {
    body {
        background-color: var(--dark-green);
        display: flex;
        flex-direction: column;
    }
    
    .projects, .to-do-list {
        max-height: 100%;
        padding: 15px 15px 15px 15px; 
        font-size: 1rem;
    }
    
    .projects {
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 5px var(--mid-green);
        color: var(--dark-green);
        background-color: var(--white-green);
        display: flex;
        flex-direction: column;
    }
    
    .to-do-list {
        color: var(--white-green);
        width: 100%;
        height: auto;
    }

    .project-item, .list-item {
        flex-wrap: wrap;
    }

    dialog {
        height: 60vh;
        width: 80vw;
    }
}